body {
    font-family: 'Roboto', sans-serif;
}

li {
    padding-right: 30px;
}

nav {
    background-color: #84599d;
}

a {
    color: #40004d;
}

a:hover {
    color: white;
    text-decoration: none;
}

.navbar-brand {
    font-size: 22px;
}

.nav-item {
    font-size: 19px;
}

.a {
    height: 100%;
}

footer {
    width: 100%;
    /* bottom: 0; */
    background-color: #84599d;
}

.footer-text {
    padding: 12px;
    text-align: center;
    color: white;
}

.block1 {
    width: 420px;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    /* border: 5px solid #283807; */
    border: 5px solid #40004d;
    border-radius: 25px;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 60px;
}

.block1 h1,
h4 {
    color: #40004d;
}

.block1 h1 {
    text-align: center;
}

.block2 {
    width: 420px;
    height: 440px;
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
    /* border: 5px solid #283807; */
    border: 5px solid #40004d;
    border-radius: 25px;
    margin-top: 110px;
    margin-bottom: 60px;
}
.block2 h1 {
    text-align: center;
}

.meet-tag2 {
    margin-right: 50px;
    text-align: right;
}

.form-control {
    border-radius: 6px;
    height: 35px;
    font-size: 18px;
    background-color: #e4e4e4;
    margin-bottom: 10px;
}

#submit {
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #40004d;
}

.meet-tag h1 {
    font-weight: bold;
}

.or {
    color: #40004d;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.abutton {
    margin-bottom: 80px;
}

.pbutton {
    margin-bottom: 80px;
}

.abutton a {
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #40004d;
    padding: 5px 12px;
    text-decoration: none;
}

.pbutton a {
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    color: #fff;
    border: none;
    background-color: #40004d;
    padding: 20px 12px;
    text-decoration: none;
}

.fas {
    font-size: 16px;
}

.error {
    color: red;
}

.profile-tag h1 {
    text-align: center;
    margin-top: 70px;
    font-size: 28px;
}

.profile-data {
    margin-bottom: 50px;
    width: 100%;
}

.profile-data th {
    padding: 10px 16px;
}

.profile-data td {
    /* padding-left: 100px; */
    /* margin-bottom: 100px; */
}

.profile-data th {
    margin-right: 100px;
}

.profile-data td {
    margin-right: 50px;
}

.button {
    text-align: center;
}

.btn-width {
    width: 290px;
}

select {
    border-radius: 8px;
    height: 35px;
    font-size: 18px;
    background-color: #e4e4e4;
    /* margin-bottom: 10px; */
    width: 100%;
}

.profile {
    background-color: rgb(201, 200, 200);
}

.edit-block {
    margin-top: 80px;
    text-align: center;
}

.edit-block h3 {
    text-align: center;
    margin-bottom: 75px;
}

#select_profile {
    height: 100%;
    border-collapse: collapse;
}

.bottom-button {
    text-align: center;
    margin: auto;
    padding: 0 60px;
}

.edit-button {
    width: 160px;
}

.or-edit {
    padding: 15px 0;
}

.register-button a {
    padding: 7px 75px;
}

.card-profile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 8px 0px 10px 10px;
    margin-left: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-profile img {
    border-radius: 10px;
    margin-top: 0;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 8px 0px 10px 10px;
    margin-left: 60px;
    border-radius: 10px;
    margin-bottom: 10px;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    background-color: #d6ccdd;
}


/* Add some padding inside the card container */

.fp_container {
    padding: 2px 16px;
}

.p_container {
    padding: 2px 16px;
}

.margin-top {
    margin-top: 120px;
}

.card img {
    width: 180px !important;
    border-radius: 110px;
    height: 170px;
}

.card-img {
    text-align: center;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
}

.flex_child2 {
    margin: auto;
}

.flex-pages {
    display: flex;
    flex-direction: column;
}

.flex-fullprofile {
    display: flex;
    flex-direction: column;
}

.margin-auto {
    margin: auto;
}

.achive {
    margin-top: 30px;
}

.mar-0 {
    margin-top: 0;
}

.background-border{
    border-width: 2px;
}
.btn-color{
    background-color: #84599d;
    color: white;
}
.upload-image{
    display: flex;
    width: 275px;
    height: 275px;
    background-color: rgb(197, 173, 173);
    align-items: center;
    border-radius: 275px;
    margin: auto;
}
.imageInput{
    margin-left: 30px;

}
.imageProfileText{
    text-align: center;
    font-size: 28px;
}