body {
  font-family: 'Cinzel', serif;
}

li {
  padding-right: 30px;
}

nav {
  background-color: #c48be6;
}

a {
  color: #40004d;
}

a:hover {
  color: white;
}

.navbar-brand {
  font-size: 22px;
}

.nav-item {
  font-size: 19px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #c48be6;
}

.footer-text {
  padding: 12px;
  text-align: center;
  color: white;
}

.block1 {
  width: 500px;
  padding: 20px;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  /* border: 5px solid #283807; */
  border: 5px solid #40004d;
  border-radius: 25px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 60px;
}

.block1 h1, h4 {
  color: #40004d;
}

.block1 h1 {
  text-align: center;
}
.block2 {
  width: 500px;
  padding: 20px;
  background-color: #f3f3f3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  /* border: 5px solid #283807; */
  border: 5px solid #40004d;
  border-radius: 25px;
  margin-top: 110px;
  margin-bottom: 60px;
}
.meet-tag2{
  margin-right: 50px;
  text-align: right;
}
.form-control {
  border-radius: 15px;
  height: 40px;
  font-size: 20px;
  background-color: #e4e4e4;
  margin-bottom: 10px;
}

#submit {
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  border: none;
  background-color: #40004d;
}

.meet-tag h1 {
  font-weight: bold;
}

.or {
  color: #40004d;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
.abutton{
  margin-bottom: 30px;
}

.abutton a {
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  color: #fff;
  border: none;
  background-color: #40004d;
  padding: 5px 12px;
  text-decoration: none;
}

.fas {
  font-size: 16px;
}

.error {
  color: red;
}

.profile-tag h1 {
  text-align: center;
  margin-top: 70px;
  font-size: 28px;
}
.profile-data{
  margin-bottom: 50px;
  width: 100%;
}
.profile-data th{
  padding: 16px;

}
.profile-data td{
  /* padding-left: 100px; */
  /* margin-bottom: 100px; */
}
.profile-data th{
  margin-right: 100px;
}
.profile-data td{
  margin-right: 50px;
}
.button{
  text-align: center;
}
.btn-width{
  width: 50%;
}
select{
  border-radius: 15px;
  height: 40px;
  font-size: 20px;
  background-color: #e4e4e4;
  /* margin-bottom: 10px; */
  width: 100%;
}
.profile{
  background-color: rgb(201, 200, 200);
}
.edit-block{
  margin-top: 150px;
  text-align: center;
}